.timeNow {
  position: absolute;
  width: 100%;
  top: 40%;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 62px;
  color: white;
}

.backgroundColorBlack {
  background-color: black;
}

.fontAmatic {
  font-family: 'Amatic SC', cursive;
  font-size: 62px;
}